@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
    <link rel="stylesheet" href="~/css/style.css" />
}
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="EMAPEN" />
    <meta name="keywords" content="EMAPEN, uPVC, windows, doors" />

    <title>EMAPEN</title>

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="~/images/contact/favicon/favicon.svg" />

    <!-- Bootstrap 5 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">


    <!-- Custom Styles -->
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <!-- ===== NAVBAR ===== -->
    <nav class="navbar navbar-expand-lg fixed-top navbar-light green-navbar">
        <div class="container">
            <!-- Logo -->
            <a class="navbar-brand" href="home1.html">
                <svg width="150" height="40" viewBox="0 0 240 62" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M182.569 49.7049C183.085 49.7049 183.416 49.7092 183.747 49.704C186.518 49.6599 189.29 49.5907 192.062 49.5751C197.44 49.5431 202.819 49.5414 208.198 49.5293C210.038 49.5258 211.834 49.2594 213.529 48.5397C218.629 46.3744 222.06 42.7213 223.117 37.2386C224.443 30.3641 225.57 23.4515 226.78 16.5544C227.082 14.8382 227.374 13.1202 227.684 11.3114C227.17 11.2889 226.758 11.2517 226.346 11.256C221.839 11.3062 217.33 11.3771 212.822 11.4143C209.235 11.4446 205.649 11.4342 202.064 11.4463C195.255 11.4697 188.389 17.0441 187.144 23.7127C185.731 31.2785 184.448 38.8675 183.112 46.448C182.929 47.4791 182.766 48.5137 182.569 49.7049ZM170.216 60.2144C170.812 56.8139 171.38 53.589 171.944 50.3632C173.047 44.0682 174.129 37.7698 175.258 31.48C175.843 28.2257 176.179 24.8805 177.2 21.7603C180.883 10.4982 188.718 3.66432 200.407 1.34945C202.607 0.913463 204.923 0.980936 207.187 0.95758C213.156 0.895296 219.125 0.924708 225.093 0.890972C229.686 0.86502 234.28 0.798411 238.873 0.754294C239.201 0.750833 239.53 0.781975 240.001 0.803602C239.792 2.08734 239.608 3.2837 239.399 4.47574C237.951 12.7422 236.528 21.012 235.027 29.2681C234.333 33.0933 233.923 37.0466 232.62 40.6694C228.813 51.2516 221.123 57.5682 209.986 59.6711C209.084 59.8407 208.148 59.8865 207.227 59.8952C199.635 59.9678 192.042 60.0137 184.451 60.0777C180.082 60.114 175.712 60.1685 171.343 60.2135C171.013 60.217 170.682 60.2144 170.216 60.2144Z"
                        fill="white" />
                    <path
                        d="M212.195 24.5161H207.88C205.638 24.5161 203.396 24.5377 201.154 24.504C200.4 24.4928 200.077 24.7194 199.952 25.5092C199.52 28.2384 198.991 30.953 198.511 33.6753C198.351 34.5844 198.229 35.5005 198.082 36.4599C201.842 36.4599 205.456 36.4235 209.068 36.4858C209.955 36.5014 210.203 36.1588 210.325 35.3993C210.667 33.2713 211.062 31.151 211.429 29.0265C211.688 27.5351 211.937 26.0421 212.195 24.5161ZM188.054 44.9806C188.28 43.6614 188.495 42.3889 188.716 41.1182C189.361 37.414 190.003 33.709 190.657 30.0057C190.964 28.2652 191.286 26.5274 191.619 24.7912C192.503 20.1805 197.328 15.9599 202.765 16.0447C208.871 16.1398 214.98 15.972 221.088 15.9192C221.417 15.9166 221.746 15.9192 222.21 15.9192C221.995 17.1909 221.805 18.3509 221.603 19.5092C220.897 23.5672 220.199 27.6268 219.473 31.6813C219.118 33.6675 218.842 35.6813 218.293 37.6156C217.086 41.8716 212.94 44.8811 208.505 44.9019C203.375 44.9261 198.247 44.9564 193.119 44.9797C191.475 44.9875 189.832 44.9806 188.054 44.9806Z"
                        fill="white" />
                    <path
                        d="M34.4669 31.8111C34.1704 33.4102 33.869 35.0076 33.5788 36.6076C33.1616 38.9062 32.7686 41.2092 32.3209 43.5018C32.2655 43.7858 31.9415 44.2343 31.735 44.2386C29.4362 44.2923 27.1375 44.2724 24.6973 44.2724C24.9328 42.9192 25.1401 41.6724 25.3668 40.43C26.4253 34.6292 27.4895 28.8311 28.5505 23.0311C28.7651 21.8528 28.7619 21.8511 29.9731 21.8511C31.9415 21.8502 33.9107 21.8857 35.8767 21.8338C36.6315 21.813 37.0422 22.0805 37.3983 22.7203C38.7558 25.1549 40.164 27.5627 41.5569 29.9782C41.6509 30.141 41.7836 30.2813 41.7241 30.1947C42.6572 29.3982 43.6579 28.6666 44.5107 27.7921C46.2862 25.9731 47.9765 24.0727 49.7255 22.2277C49.9136 22.0294 50.256 21.8745 50.5277 21.8719C52.9172 21.8442 55.3068 21.8545 57.6964 21.8606C57.8274 21.8606 57.9592 21.9203 58.1634 21.9697C57.7703 24.1861 57.3909 26.3731 56.9923 28.5575C56.1041 33.4275 55.187 38.2924 54.3286 43.1677C54.1823 43.9988 53.9131 44.3443 52.9976 44.3044C51.1731 44.2248 49.3437 44.2845 47.5152 44.2793C46.549 44.2759 46.4928 44.1962 46.6624 43.2767C47.3544 39.5313 48.0432 35.7842 48.7296 32.0379C48.7441 31.9609 48.7192 31.8778 48.6919 31.5176C45.7549 34.4976 42.9538 37.34 40.0523 40.2837C38.2269 37.3738 36.4643 34.5643 34.7025 31.7548C34.6237 31.7739 34.5457 31.7921 34.4669 31.8111Z"
                        fill="white" />
                    <path
                        d="M146.891 32.1163C146.296 35.3509 145.73 38.4184 145.167 41.4867C145.033 42.2218 144.95 42.9681 144.771 43.6919C144.712 43.93 144.43 44.291 144.246 44.2945C141.864 44.3351 139.482 44.3213 136.949 44.3213C138.325 36.7734 139.681 29.3388 141.054 21.8056C142.614 21.8056 144.142 21.9485 145.632 21.7701C147.659 21.5277 148.877 22.2974 150.031 23.9406C152.251 27.1008 154.742 30.0747 157.122 33.1249C157.202 33.228 157.293 33.3215 157.477 33.5284C158.204 29.5613 158.908 25.719 159.616 21.8567H167.299C167.087 23.0844 166.896 24.2445 166.686 25.4012C165.982 29.2921 165.271 33.1821 164.563 37.072C164.161 39.2746 163.76 41.4763 163.361 43.6789C163.272 44.1672 163.009 44.349 162.49 44.3395C160.805 44.3092 159.116 44.2789 157.432 44.3507C156.632 44.3854 156.166 44.0953 155.703 43.491C152.827 39.7387 149.916 36.0132 146.891 32.1163Z"
                        fill="white" />
                    <path
                        d="M10.0855 30.5414H22.948C22.9649 30.6081 22.9834 30.6747 23.0003 30.7414C22.2705 31.183 21.5407 31.6254 20.81 32.0661C19.4428 32.8894 18.0403 33.6617 16.7189 34.5517C15.7158 35.2279 14.6798 35.4989 13.4814 35.4314C12.2765 35.363 11.0645 35.4314 9.85561 35.4115C9.33237 35.4037 9.10651 35.6097 9.03739 36.1275C8.91441 37.0556 8.72633 37.9751 8.53825 39.0521H23.3973C23.0855 40.7569 22.8307 42.3101 22.4867 43.8443C22.4417 44.0425 21.9321 44.2572 21.6347 44.2616C19.1615 44.2945 16.6876 44.2806 14.2136 44.2815H0.000732422C0.206495 43.1109 0.388144 42.0573 0.578635 41.0053C1.67335 34.9587 2.77852 28.9129 3.85797 22.8627C3.98255 22.1623 4.20037 21.8273 5.02101 21.8316C11.7678 21.8662 18.5145 21.8498 25.2621 21.8524C26.3214 21.8524 26.3214 21.8584 26.1261 22.9528C25.9211 24.1025 25.6872 25.2471 25.5209 26.4021C25.4308 27.035 25.1278 27.1995 24.5138 27.196C20.241 27.1735 15.9674 27.2003 11.6954 27.1692C10.9495 27.164 10.5557 27.3146 10.5018 28.1354C10.4504 28.8999 10.2454 29.654 10.0855 30.5414Z"
                        fill="white" />
                    <path
                        d="M138.74 21.8844C138.417 23.6809 138.105 25.4151 137.777 27.2419H123.096C122.893 28.3509 122.706 29.3717 122.502 30.4842H135.476C135.504 30.55 135.531 30.6158 135.558 30.6825C135.296 30.8314 135.033 30.9803 134.772 31.131C132.476 32.4574 130.188 33.7985 127.875 35.0963C127.483 35.3162 126.985 35.434 126.531 35.4478C125.098 35.492 123.664 35.4747 122.23 35.4591C121.759 35.4539 121.538 35.5759 121.476 36.1006C121.368 37.0235 121.145 37.9326 120.947 38.9759H135.806C135.505 40.6988 135.257 42.3014 134.91 43.8815C134.866 44.0875 134.309 44.3074 133.989 44.31C130.137 44.3395 126.285 44.3291 122.433 44.3291H112.266C112.493 43.0815 112.699 41.9551 112.901 40.8278C113.662 36.6071 114.421 32.3873 115.181 28.1674C115.525 26.2635 115.865 24.3588 116.22 22.4567C116.295 22.0497 116.467 21.7917 116.999 21.7935C124.085 21.8151 131.17 21.8099 138.255 21.8134C138.363 21.8134 138.473 21.8437 138.74 21.8844Z"
                        fill="white" />
                    <path
                        d="M73.3993 29.0571C71.9179 31.2632 70.5757 33.2605 69.1723 35.3514H75.2945C74.666 33.2631 74.0704 31.2857 73.3993 29.0571ZM86.1027 44.2716C83.4286 44.2716 80.9024 44.2838 78.3777 44.2474C78.1704 44.2439 77.8682 43.9374 77.7798 43.708C77.4333 42.7989 77.1335 41.8691 76.857 40.9349C76.7172 40.4639 76.4793 40.257 75.9641 40.2596C72.8439 40.276 69.7237 40.25 66.6035 40.2925C66.2611 40.2968 65.8182 40.5713 65.6044 40.8552C64.9156 41.766 64.3353 42.7565 63.6633 43.6803C63.4729 43.9409 63.1152 44.2431 62.8298 44.2483C60.4692 44.2924 58.1078 44.2725 55.7463 44.2656C55.6467 44.2656 55.5462 44.2067 55.338 44.1409C55.8886 43.3331 56.3885 42.5764 56.9102 41.8344C60.7618 36.3592 64.6174 30.8865 68.473 25.4139C69.2117 24.3654 69.9198 23.2927 70.7123 22.2867C70.9462 21.9897 71.4172 21.723 71.7877 21.7127C73.7537 21.6564 75.7229 21.7057 77.6905 21.6737C78.2998 21.6633 78.5787 21.8798 78.7692 22.4512C80.2618 26.9455 81.7817 31.4303 83.3016 35.9159C84.123 38.3401 84.9629 40.7583 85.7892 43.1807C85.8953 43.4924 85.9725 43.8136 86.1027 44.2716Z"
                        fill="white" />
                    <path
                        d="M97.1368 32.8863C98.7563 32.8863 100.247 32.9911 101.713 32.8474C102.594 32.7608 103.498 32.3954 104.285 31.9634C105.339 31.3842 105.878 30.0024 105.558 28.9323C105.23 27.8379 104.317 27.3513 103.26 27.2656C101.725 27.1409 100.181 27.1323 98.6398 27.1115C98.4614 27.1098 98.1511 27.3271 98.1198 27.4847C97.7693 29.2699 97.4615 31.0638 97.1368 32.8863ZM87.2554 44.3268C87.8759 40.881 88.4658 37.5607 89.0727 34.2447C89.7888 30.3279 90.5339 26.4171 91.2259 22.4969C91.3216 21.9601 91.5185 21.7982 92.0305 21.7999C96.2751 21.8155 100.521 21.7488 104.763 21.8458C106.957 21.8951 109.099 22.3774 110.975 23.638C113.673 25.4527 114.217 28.5167 112.776 31.7288C111.353 34.8967 108.58 36.3789 105.392 37.2741C102.709 38.0282 99.9539 37.9893 97.2043 37.9347C96.4608 37.9191 96.1192 38.0776 96.0196 38.8983C95.8299 40.4611 95.4931 42.0065 95.1949 43.5546C95.1258 43.913 95.1041 44.3372 94.5254 44.3338C92.1398 44.3182 89.7551 44.3268 87.2554 44.3268Z"
                        fill="white" />
                    <path
                        d="M126.971 55.7501C128.153 55.7501 129.174 55.8703 130.15 55.7109C130.873 55.5924 131.662 55.2492 132.2 54.7606C133.2 53.8521 132.794 52.3914 131.469 52.151C130.231 51.9271 128.944 51.9776 127.642 51.9053C127.408 53.2519 127.199 54.4453 126.971 55.7501ZM125.999 61.0198H123.609C124.25 57.4094 124.879 53.8652 125.505 50.3401C125.571 50.2913 125.617 50.2295 125.661 50.2304C127.944 50.2643 130.233 50.2216 132.509 50.3749C133.774 50.4603 134.823 51.185 135.078 52.5368C135.366 54.0559 134.844 55.3398 133.588 56.2953C132.125 57.4076 130.425 57.5731 128.674 57.601C126.063 57.6437 126.817 57.1629 126.229 59.7402C126.137 60.1426 126.082 60.5546 125.999 61.0198Z"
                        fill="white" />
                    <path
                        d="M122.499 50.1705C122.072 52.47 121.741 54.6711 121.242 56.8339C120.639 59.4496 118.546 61.0749 115.789 61.2091C115.01 61.2474 114.21 61.2857 113.45 61.1516C110.642 60.656 109.532 58.9357 110.085 56.1275C110.429 54.3828 110.757 52.6329 111.026 50.8761C111.11 50.3308 111.322 50.1496 111.828 50.167C112.35 50.1862 112.873 50.1714 113.555 50.1714C113.314 51.552 113.081 52.7975 112.885 54.0483C112.722 55.091 112.546 56.1388 112.481 57.1901C112.415 58.2598 112.881 58.8738 113.865 59.2196C115.699 59.8651 118.618 59.0942 118.965 56.3818C119.197 54.564 119.629 52.7732 119.919 50.9614C120.014 50.3709 120.239 50.1244 120.834 50.1636C121.356 50.1984 121.882 50.1705 122.499 50.1705Z"
                        fill="white" />
                    <path
                        d="M162.234 51.7132C161.651 52.1783 161.089 52.6269 160.464 53.1269C159.363 52.2245 158.118 51.7176 156.653 51.7907C154.26 51.9101 152.14 53.9117 152.014 56.0457C151.902 57.955 153.382 59.3216 155.372 59.4357C156.567 59.5046 157.739 59.2546 158.702 58.563C159.52 57.9768 160.037 58.1327 160.56 58.8565C160.658 58.9906 160.775 59.11 160.921 59.2807C159.706 60.3756 158.275 61.028 156.721 61.1673C155.47 61.2797 154.125 61.2214 152.927 60.8729C149.599 59.9061 148.424 56.483 150.344 53.5755C152.068 50.9633 154.611 49.9372 157.656 49.9755C159.375 49.9964 160.944 50.4119 162.234 51.7132Z"
                        fill="white" />
                    <path
                        d="M136.828 50.2315C139.299 50.0129 139.309 50.0085 139.974 52.2035C140.505 53.9577 141.002 55.7225 141.519 57.4811C141.587 57.7145 141.687 57.9383 141.849 58.3686C142.234 57.7467 142.522 57.2589 142.83 56.7842C144.09 54.8462 145.376 52.9256 146.606 50.9684C146.996 50.3491 147.443 50.0677 148.171 50.1592C148.627 50.2167 149.097 50.1697 149.75 50.1697C149.125 51.1086 148.61 51.8891 148.087 52.6625C146.292 55.3166 144.464 57.9488 142.715 60.6324C142.128 61.5331 141.329 61.1794 140.614 61.162C140.379 61.1568 140.058 60.6281 139.944 60.2823C138.933 57.1927 137.957 54.091 136.978 50.991C136.906 50.7628 136.883 50.5198 136.828 50.2315Z"
                        fill="white" />
                </svg>
            </a>

            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- links -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="home1.html">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="product.html">Products</a></li>
                    <li class="nav-item"><a class="nav-link" href="about.html">About</a></li>
                    <li class="nav-item"><a class="nav-link active" href="contact.html">Contact</a></li>
                </ul>
                <div class="navbar-lang">
                    <input type="radio" class="btn-check" name="lang" id="en-lang" autocomplete="off" checked>
                    <label class="btn" for="en-lang">EN</label>

                    <input type="radio" class="btn-check" name="lang" id="ar-lang" autocomplete="off">
                    <label class="btn" for="ar-lang">AR</label>
                </div>
                <span class="navbar-slogan d-none d-lg-block">EMAPEN uPVC systems for doors and windows</span>
            </div>
        </div>
    </nav>
<section class="hero-section contact-section">
    <div class="container">
        <div class="row row-cols-1 row-cols-lg-2">
            <div class="hero-content col">
                <h1 class="hero-title">Contact Us</h1>
                <p class="hero-description">
                    Whether you have any questions regarding our products or you're considering making an order,
                    <span>feel free to contact us.</span>
                </p>
                <p class="hero-description">
                    Window manufacturer, Supplier, Architect, Home owner, no matter what your category is,
                    <span> we would be glad to support you.</span>
                </p>

                <div class="hero-category">
                    <label for="category" class="form-label">Select Category</label>
                    <select class="form-select" id="category">
                        <option selected>Choose...</option>
                        <option value="1">Window manufacturer (Egypt)</option>
                        <option value="2">Supplier</option>
                        <option value="3">Architect</option>
                        <option value="4">Home owner</option>
                    </select>
                </div>
            </div>
            <div class="hero-form col">
                <form class="row">
                    <div class="col-12 col-md-5">
                        <input type="text" class="form-control" id="name" placeholder="Name">
                    </div>
                    <div class="col-12 col-md-7">
                        <input type="email" class="form-control" id="email" placeholder="Email">
                    </div>
                    <div class="col-12 col-md-4">
                        <input type="text" class="form-control" id="country" placeholder="Country">
                    </div>
                    <div class="col-12 col-md-4">
                        <input type="text" class="form-control" id="city" placeholder="City">
                    </div>
                    <div class="col-12 col-md-4">
                        <input type="number" class="form-control" id="tel" placeholder="Telephone">
                    </div>
                    <div class="col-12">
                        <textarea class="form-control" id="message" rows="5" placeholder="Content"></textarea>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary">
                            Send
                            <svg width="16" height="16" viewBox="0 0 25 19" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M0 0V18.1106H24.1475V0H0ZM21.6502 2.01229L12.0737 9.77268L2.49725 2.01229H21.6502ZM2.01229 16.0983V4.2087L12.0737 12.3625L22.1352 4.2087V16.0983H2.01229Z"
                                    fill="white" />
                            </svg>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="hero-footer">
            <div class="hero-address">
                <p>
                    <span>6th of October City Industrial Zone 1</span>,
                    <span>Land no.238 - Giza</span>,
                    <span>Egypt</span>
                </p>
                <p>
                    +201069946220 <br>
                    info@emapen.net
                </p>
                <ul>
                    <li><a href="#"><img src="/images/contact/facebook.png" alt="facebook" width="30px"
                                loading="lazy"></a></li>
                    <li><a href="#"><img src="/images/contact/instagram.png" alt="instagram" width="30px"
                                loading="lazy"></a></li>
                    <li><a href="#"><img src="/images/contact/linkedin.png" alt="linkedin" width="30px"
                                loading="lazy"></a></li>
                </ul>
                <div class="hotline">
                    <span class="hotline-number">15726</span>
                    <p>Hotline</p>
                </div>
            </div>
            <p>
                &copy; @DateTime.Now.Year EMAPEN all rights reserved
            </p>
        </div>
    </div>
</section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>