
@{
    ViewData["Title"] = "About EMAPEN";
    Layout = "_Layout";
}

@section Styles {
    <link rel="stylesheet" href="~/css/style.css" />
}

<!-- ===== HERO SECTION ===== -->
<section class="hero-section about-section">
    <div class="container">
        <div class="row row-cols-1 row-cols-lg-2">
            <div class="hero-content col">
                <p class="hero-description">
                    Since its establishment in 2015, EMAPEN has consistently demonstrated the reliability of its
                    profiles across a multitude of projects, thereby solidifying its standing as one of the leading manufacturers of UPVC in Egypt.
                </p>
                <p class="hero-description">
                    EMAPEN boasts the largest network of distributors in the country, proving itself as the profile of choice for many construction projects. Additionally, the company features Egypt's largest extrusion facility, equipped with seven production lines and a capacity of 500 metric tons per month.
                </p>
                <p class="hero-description">
                    EMAPEN's profiles conform to the ISO 9001:2015 standard, ensuring consistent manufacturing processes and product performance.
                </p>
            </div>
            <div class="hero-about col">
                <div>
                    <h2 class="hero-subtitle">Our mission</h2>
                    <p class="hero-description">
                        is to provide uPVC profiles of high quality and durability that satisfy international standards and meets customer demands through advanced machinery and necessary equipment managed by qualified professionals.
                    </p>
                </div>
                <div>
                    <h2 class="hero-subtitle">Our vision</h2>
                    <p>
                        is to become the most reliable and trusted supplier of uPVC profiles in both domestic and export markets.
                    </p>
                </div>
            </div>
        </div>
        <div class="hero-footer">
            <div class="hero-address">
                <p>
                    <span>6th of October City Industrial Zone 1</span>,
                    <span>Land no.238 - Giza</span>,
                    <span>Egypt</span>
                </p>
                <p>info@emapen.net</p>
            </div>
            <p>
                &copy;
                <script>
                    document.write(new Date().getFullYear());
                </script>
                EMAPEN all rights reserved
            </p>
        </div>
    </div>
</section>
<script src="~/js/lang.js"></script>